@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300);

a {
  color: blue !important;
}
a:hover {
  color: blue !important;
}
h1 {
  font-family: "Open Sans", Helvetica, arial, sans-serif;
  padding:1em;
  font-weight: 600;
  font-size: 36px;
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 24px;
  }
  .display2 {
    font-size:1.7em;
  }
}

.splash_link {
  font-weight: 300;
  text-decoration: none;
  color:red !important;
}
.splash_link:hover {
  text-decoration: underline;
  color: red !important;
}
h1 span {
  font-size: 0.5em;
  display: block;
  padding: 1em;
}
.weaseltitle {
  font-size: 0.4em;
}
@media screen and (max-width: 768px) {
  h1 span {
    font-size: 0.3em;
  }
  .weaseltitle {
    font-size: 0.4em;
  }
}

.speech {border: 3px solid #DDD; padding: 3px; margin: 0}
.speech input {border: 0; display: inline-block; height: 60px;}
.speech img {float: right; width: 40px }
